In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use('ggplot')

import nltk

In [4]:
df = pd.read_csv('review.csv')
print(df.shape)

(4, 5)

In [5]:
df.head()

   id               review        date  product_id  user_id
0   6  Not good worst ever  2024-03-05           9        5
1  18                 good  2024-03-06           9        5
2  19                 good  2024-03-06           9        5
3  20                 good  2024-03-06           9        5

In [7]:
example = df['review'][0]
print(example)

Not good worst ever

In [8]:
tokens = nltk.word_tokenize(example)
tokens

['Not', 'good', 'worst', 'ever']